$break-phone-1: 340px;
$break-phone-2: 380px;
$break-desktop-1: 1024px;

$yellow: #FFCC01;
$red: #D8232A;
$text-grey: #292929;
$dark-grey: #666;
$light-grey-1: #666;
$light-grey-2: #979797;
$light-grey-3: #CCC;
$light-grey-4: #E0E0E0; 
$light-grey-5: #EEE;
$link-blue: #009FFF;

$font-size: 10px;
$line-height: 1;

%flex-center {
	display: flex;
	justify-content: center;
}


%main-font {
	font-size: 1.8rem;
	line-height: 2.4rem;
}
%medium-font {
	font-size: 1.6rem;
	line-height: 2rem;
}
%small-font {
	font-size: 1.4rem;
	line-height: 1.8rem; 
}
%main-header-font {
	font-size: 2rem;
	line-height: 3.2rem; 
}
%big-header-font {
	font-size: 3.2rem;
	line-height: 3.2rem; 
}
%quotes-font {
	font-size: 2.4rem;
	line-height: 3.2rem; 
	font-weight: 300;
	text-align: center;
}
%quote-marks-font {
	color: $yellow;
	font-size: 8rem;
	line-height: 4.8rem; 
}

%rounded-button {
	@extend %medium-font;
	border-radius: 12px;
	padding: 2px 1.5rem;
}

//
* {
	margin: 0;
	padding: 0;
}
html {
	color: $text-grey;
	font-family: "Source Sans Pro", sans-serif;
	font-size: $font-size;
	line-height: $line-height;
}
body {
	@extend %main-font;
}
strong {
	font-weight: 600;
}
img {
	width: 100%;
}
input, textarea {
	box-sizing: border-box;
}

//
h1 {
	@extend %big-header-font;
	font-weight: 600;
}
h2 {
	@extend %main-header-font;
	font-weight: 600;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

svg {
	width: 1.4rem;
	height: 1.4rem;	
}
figcaption {
	@extend %small-font;
}
.no-mobile {
	display: none;
}
.mobile-narrow {
	margin: 0 1.5rem;
}
.rounded-button span {
	@extend %rounded-button;
}
.yellow-underline-header {
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	span {
		border-bottom: 2px solid $yellow;
	}
}
.header-container {
	@extend %small-font;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.breadcrumbs {
	display: flex;
	align-items: center;
	svg {
		width: 1rem; height: 1rem;
		fill: $red;
	}
	svg:nth-child(1) {
		width: 1.6rem; height: 1.6rem;
	}
	svg, span {
		margin-right: 1rem;
	}
}
.article-top-info {
	display: flex; 
	justify-content: space-between;
	align-items: center;

	> div {
		display: flex; 
		align-items: center;
	}
	svg {
		fill: $light-grey-1;
		margin-left: 1rem;
	}
	img {
		width: 4rem; height: 4rem;
		border-radius: 50%;
		margin-right: 1rem;
	}
	> div:nth-child(1) {
		> div {
			display: flex;
			flex-direction: column;
		}
	}
	> div:nth-child(2) {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		> div {
			display: flex;
			align-items: center;
		}
	}
}
.main-content {
	margin-bottom: 12rem;
}
.main-article {
	margin-top: 4rem;
	margin-bottom: 4rem;
	div {
		display: flex;
		align-items: center;
		div {
			@extend %quote-marks-font;
		}
		span {
			@extend %quotes-font;
			margin-left: 0.5rem;
			margin-right: 0.5rem;
		}
	}
}
.two-img-container {
	display: flex;
	justify-content: space-between;
	figure {
		width: 49%;
		figcaption {
			font-size: 1.2rem;
			line-height: 1.5rem;
		}
	}
}
.unsere-neuen-streuar {
	> div {
		display: flex;
		div {
			margin-left: 0.1rem;
			margin-right: 0.1rem;
		}
	}
}
.about-author {
	border-bottom: 1px solid $light-grey-2;
	.about-author-tags {
		@extend %small-font;
		color: #FFF;
		background-color: $light-grey-1;
		border-radius: 4px;
		padding: 1rem 4rem;
		svg {
			fill: #FFF;
			margin-right: 2rem;
		}
		> div {
			display: flex;
			align-items: center;
		}
	}
	.about-author-main {
		@extend %small-font;
		display: flex;
		padding: 5rem 0;
		img {
			width: 8rem; height: 8rem;
			border-radius: 50%;
			margin-right: 1rem;
		}
		.about-author-name {
			@extend %main-font;
			font-weight: 600;
		}
		.about-author-desc {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
		.about-author-button {
			@media screen and (max-width: $break-phone-2) {
				span {
					font-size: 1.4rem;
				}
			}
			@media screen and (max-width: $break-phone-1) {
				span {
					font-size: 1.2rem;
				}
			}
			span {
				background-color: $yellow;
			}
		}
	}
}
.show-comments-button {
	margin-top: 4rem;
	margin-bottom: 8rem;
	text-align: center;
	span {
		background-color: $light-grey-4;
	}
}
.you-might-also-like {
	.you-might-also-like-item {
		margin-top: 4rem;
	}
	.you-might-also-like-read-button {
		position: relative;
		text-align: center;
		margin-bottom: 2rem;
		hr {
			position: absolute;
			width: 100%;
			z-index: -1;
			top: 50%;
			margin-top: 1px;
		}
		span {
			@extend %rounded-button;
			background-color: $yellow;
		}
	}
	.you-might-also-like-author {
		@extend %small-font;
		color: $light-grey-2;
		display: flex;
		justify-content: space-between;
		svg {
			fill: $light-grey-2;
		}
		> div:nth-child(1) {
			display: flex;
			img {
				border-radius: 500%;
				width: 4rem; height: 4rem;			
				margin-right: 2rem;
			}
			div {

			}
		}
	}
}
.comment-section-outer-container {
	background-color: $light-grey-5;
	.comment-section-main {
		padding: 5rem 0;
		.comments-header-container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.comments-header {
				@extend %main-header-font;
			}
			.comments-header-button {
				span {
					background-color: $light-grey-3;
					padding: 1px 10px;
				}
			}
		}
		.single-comment {
			border-bottom: 1px solid #CCCCCC;
			padding: 3rem 0;
			.single-comment-header {
				@extend %small-font;
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 2rem;
				svg {
					margin-right: 0.5rem;
				}
				div {
					display: flex;
					align-items: center;
				}
			}
			a {
				color: $link-blue;
				text-decoration: none;
			}
		}
		.weitere-komentare-anzeigen-button {
			margin-top: 4rem; margin-bottom: 4rem;
			text-align: center;
			span {
				background-color: $yellow;
			}
		}
	}
}
.comment-input-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 4rem;
	input {
	}
	input, textarea {
		border: none;
		border-bottom: 2px solid black;
		background-repeat: no-repeat; background-size: 2rem 2rem; background-position: 1rem 1rem;
		margin-bottom: 1.4rem;
		padding: 1rem 5rem;
		width: 100%;
	}
	.name {
		background-image: url(./images/svg/user-alt.svg);
	}
	.email {
    	background-image: url(./images/svg/at.svg);
	}
	textarea {
    	background-image: url(./images/svg/comment.svg);
	}
	.submit-comment {
		background-color: $yellow;
		border: none;
		font-weight: 600;
	}
}
@media screen and (min-width: $break-desktop-1) {
	html {
		font-size: 12px;
	}
	.mobile-narrow {
		margin-left: 0; margin-right: 0;
	}
	.no-mobile {
		display: block;
	}
	span.no-mobile {
		display: inline;
	}
	.outer-container {
	    display: flex;
	    justify-content: center;
	}
	.inner-container {
	    max-width: 1920px;
	    display: flex;
	    flex-wrap: wrap;
	}
	.aside-left, .aside-right {
		display: block;
	    flex: 1;
	}
	main {
	    flex: 10;
	}
	.rounded-button {
		span {
			font-size: 1.4rem;
		}
	}
	.desktop-narrow {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.social-media-links-container {
	    padding-top: 25rem;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    svg {
	    	width: 1.7rem; height: 1.7rem;
	    }
	    > div {
			align-items: center;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			margin-bottom: 1rem;
			height: 3.5rem;
			width: 3.5rem;
		}
	    .fb {
			background-color: #3b5998;
			fill: #fff;
		}
		.instagram {
			background-color: #3b5998;
			fill: #fff;
			background: #f09433; 
			background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
			background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
			background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
		}
		.youtube {
			background-color: #CE1312;
			fill: #fff;
		}
		.envelope {
			background-color: #52565E;
			fill: #fff;
		}
		hr {
			color: $light-grey-3;
			margin: 3rem 0;
			width: 3.5rem;
		}
		.printer {
			background-color: #FFCC01;
			fill: #000;
		}
	}
	.header-container {
		margin-left: 6rem;
		.article-top-info {
			justify-content: flex-start;
			img {
				width: 2rem; height: 2rem;
			}
			img, svg {
				margin: 0;
				margin-right: 0.5rem;
			}
			span {
				margin: 0;
				margin-right: 1.5rem;
			}
			> div:nth-child(1) > div {
				flex-direction: row;
				align-items: center;
			}
			> div:nth-child(2) {
			    flex-direction: row;
			    > div {
			    	flex-direction: row;
			    	span {
			    		order: 2;
			    	}
			    	svg {
			    		order: 1;
			    	}
			    }
			}
		}
	}
	.main-content-container {
		display: flex;
	}
	.main-content {
	    max-width: 1240px;
	    flex: 8;
	}
	.vertical-line {
		display: block;
	    margin: 0 50px;
	    border-left: 2px solid $light-grey-2;
	}
	.aside {
	    text-align: center;
	    flex: 3;
	}
	.main-article {
		div {
			div {
				font-size: 10rem;
			}
			span {
	    		margin-left: 4rem;
	    		margin-right: 4rem;
	    	}
	    }
	}
	.about-author {
		.about-author-tags {
			border-radius: 4px 4px 0 0;
		}
		.about-author-main {
			img {
				width: 15rem; height: 15rem;
				margin-right: 5rem;
			}
			.about-author-text {
				width: 50%;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}
	}
	.you-might-also-like-items {
		display: flex;
		justify-content: space-between;
		.you-might-also-like-item {
			width: 49%;
			position: relative;
			padding-bottom: 9rem;
			.you-might-also-like-bottom {
				position: absolute;
				bottom: 0;
				width: 100%;
			}
		}
	}
	.aside {
		.spannende-news-aus-u {
			margin: 5rem 0;
		}
		.alle-kategorien-button {
			border-bottom: 1px solid $light-grey-2;
			padding-bottom: 2rem;
			span {
				background-color: $yellow;
			}
		}
		.aside-button-group {
		    display: flex;
		    flex-wrap: wrap;
		    justify-content: center;
		    padding-top: 2rem;
		    div {
		    	padding: 0.5rem 0.5rem;
		    }
		    span {
		    	background-color: $yellow;
		    }
		}
		.aside-second-header {
		    margin: 5rem 0;
		}
		.die-beliebtesten-artikel-container {
	    	text-align: left;
	    	.die-beliebtesten-artikel-item {
			    border-bottom: 1px solid $light-grey-2;
			    display: flex;
			    padding: 2rem 0;
			    .die-beliebtesten-artikel-img-container {
				    margin-right: 2rem;
				    flex: 1;
				    img {
				    	border-radius: 4px;
				    }
				}
				.die-beliebtesten-artikel-desc {
				    flex: 3;
				    display: flex;
				    flex-direction: column;
				    align-items: left;
				    justify-content: space-around;
				    .die-beliebtesten-artikel-text {
				    	font-size: 1.8rem;
				    }
				    .die-beliebtesten-artikel-read-more {
				    	span {
				    		background-color: $yellow;
				    	}
				    }
				}
			}
		}
		.osterreichs-nr-1 {
			margin: 5rem 0;
			.osterreichs-nr-1-header {
			    align-items: center;
			    background-color: $text-grey;
			    border-radius: 4px 4px 0 0;
			    color: $light-grey-5;
			    display: flex;
			    justify-content: center;
			    .osterreichs-nr-1-header-top {
				    font-size: 3rem;
				    line-height: 4rem;
				}
				.osterreichs-nr-1-header-bottom {
				    font-size: 2.5rem;
				    line-height: 3rem;
				}
				.osterreichs-nr-1-header-number-one {
				    font-size: 8rem;
				    font-weight: bold;
				    line-height: 9.5rem;
				}
			}
			.osterreichs-nr-1-icons-container {
			    background-color: $light-grey-5;
			    padding: 2rem 0;
			    .osterreichs-nr-1-icon-item {
				    display: flex;
				    align-items: center;
				    justify-content: center;
				    padding: 1rem;
				    svg {
				    	width: 2.8rem; height: 2.8rem;
				    	margin-right: 1rem;
				    }
				}
			}
			.osterreich-nr-1-mehr-erfahren {
			    background-color: $yellow;
			    font-weight: 600;
			    padding: 1rem 0;
			    width: 100%;
			}
		}
		.aside-social-links-header {
			margin-bottom: 2rem;
		}
		.aside-social-links-container {
		    background-color: $light-grey-5;
		    display: flex;
		    justify-content: space-around;
		    padding: 1rem 0;
		    > div {
			    margin: 0 0.4rem;
			}
			img {
			    border-radius: 50%;
			    max-width: 80px;
			    max-height: 80px;
			}
		}
		.unsere-kunden {
			.unsere-kunden-header {
				margin: 3rem 0;
			}
			.unsere-kunden-images {
				> div {
				    display: flex;
				    > div {
					    margin: 4px 2px 0 2px;
					    img {
					    	height: 100%;
					    }
					}
				}
			}
		}
		.kunde-detail {
		    background-color: $light-grey-5;
		    margin-top: 0.2rem;
		    text-align: left;
		    .kunde-detail-desc {
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    padding: 2rem;
			    font-size: 1.4rem;
			    line-height: 1.6rem;
			    img {
				    border-radius: 50%;
				    margin-right: 2rem;
				    width: 5rem;
				    height: 5rem;
				}
				.kunde-detail {
				    text-align: left;
				    kunde-detail-text-function {
				    	font-size: 1.3rem;
				    }
				}
			}
			hr {
			    color: $light-grey-4;
			    margin: 0 auto;
			    width: 80%;
			}
			.kunde-detail-quote {
			    align-items: center;
			    display: flex;
			    font-weight: 300;
			    margin: 2rem 0;
			    text-align: center;
			    .kunde-detail-quote-marks {
				    color: $yellow;
				    font-size: 5rem;
				    font-weight: bold;
				}
				span {
					margin: 0 2rem;
				}
			}
			.kunde-detail-mehr-erfahren {
			    background-color: $yellow;
			    font-weight: 600;
			    padding: 1rem 0;
			    text-align: center;
			}
		}
		.aside-instagram {
			.aside-instagram-header {
			    margin: 4rem 0 2.5rem 0;
			}
			.aside-instagram-images > div {
			    display: flex;
			    > div {
				    margin: 4px 2px 0 2px;
				    img {
					    height: 100%;
					    flex: auto;
					}
				}
			}
			.aside-instagram-folge-uns {
			    background-color: $yellow;
			    font-weight: 600;
			    padding: 1rem 0;
			    text-align: center;
			}
		}
	}
	.comment-section-outer-container {
	    margin-top: 100px;
	    display: flex;
	    .comment-section-main {
		    width: 45%;
		    margin-left: 12%;
		    padding: 5rem 0;
		}
		.comment-input-form {
			.name, .email {
				width: 49%;
			}
		}
	}
}