body, .about-author .about-author-main .about-author-name {
  font-size: 1.8rem;
  line-height: 2.4rem; }

.rounded-button span, .you-might-also-like .you-might-also-like-read-button span {
  font-size: 1.6rem;
  line-height: 2rem; }

figcaption, .header-container, .about-author .about-author-tags, .about-author .about-author-main, .you-might-also-like .you-might-also-like-author, .comment-section-outer-container .comment-section-main .single-comment .single-comment-header {
  font-size: 1.4rem;
  line-height: 1.8rem; }

h2, .comment-section-outer-container .comment-section-main .comments-header-container .comments-header {
  font-size: 2rem;
  line-height: 3.2rem; }

h1 {
  font-size: 3.2rem;
  line-height: 3.2rem; }

.main-article div span {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 300;
  text-align: center; }

.main-article div div {
  color: #FFCC01;
  font-size: 8rem;
  line-height: 4.8rem; }

.rounded-button span, .you-might-also-like .you-might-also-like-read-button span {
  border-radius: 12px;
  padding: 2px 1.5rem; }

.button {
  cursor: pointer;
  cursor: hand; }

.button.button-yellow:hover {
  background-color: #ffe067 !important; }

.button.button-grey:hover {
  background-color: #979797 !important; }

* {
  margin: 0;
  padding: 0; }

html {
  color: #292929;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 10px;
  line-height: 1; }

strong {
  font-weight: 600; }

img {
  width: 100%; }

input, textarea {
  box-sizing: border-box; }

h1 {
  font-weight: 600; }

h2 {
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem; }

svg {
  width: 1.4rem;
  height: 1.4rem; }

.no-mobile {
  display: none; }

.mobile-narrow {
  margin: 0 1.5rem; }

.yellow-underline-header {
  font-weight: 600;
  text-align: center;
  text-transform: uppercase; }
  .yellow-underline-header span {
    border-bottom: 2px solid #FFCC01; }

.header-container {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.breadcrumbs {
  display: flex;
  align-items: center; }
  .breadcrumbs svg {
    width: 1rem;
    height: 1rem;
    fill: #D8232A; }
  .breadcrumbs svg:nth-child(1) {
    width: 1.6rem;
    height: 1.6rem; }
  .breadcrumbs svg, .breadcrumbs span {
    margin-right: 1rem; }

.article-top-info {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .article-top-info > div {
    display: flex;
    align-items: center; }
  .article-top-info svg {
    fill: #666;
    margin-left: 1rem; }
  .article-top-info img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .article-top-info > div:nth-child(1) > div {
    display: flex;
    flex-direction: column; }
  .article-top-info > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .article-top-info > div:nth-child(2) > div {
      display: flex;
      align-items: center; }

.main-content {
  margin-bottom: 12rem; }

.main-article {
  margin-top: 4rem;
  margin-bottom: 4rem; }
  .main-article div {
    display: flex;
    align-items: center; }
    .main-article div span {
      margin-left: 0.5rem;
      margin-right: 0.5rem; }

.two-img-container {
  display: flex;
  justify-content: space-between; }
  .two-img-container figure {
    width: 49%; }
    .two-img-container figure figcaption {
      font-size: 1.2rem;
      line-height: 1.5rem; }

.unsere-neuen-streuar > div {
  display: flex; }
  .unsere-neuen-streuar > div div {
    margin-left: 0.1rem;
    margin-right: 0.1rem; }

.about-author {
  border-bottom: 1px solid #979797; }
  .about-author .about-author-tags {
    color: #FFF;
    background-color: #666;
    border-radius: 4px;
    padding: 1rem 4rem; }
    .about-author .about-author-tags svg {
      fill: #FFF;
      margin-right: 2rem; }
    .about-author .about-author-tags > div {
      display: flex;
      align-items: center; }
  .about-author .about-author-main {
    display: flex;
    padding: 5rem 0; }
    .about-author .about-author-main img {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      margin-right: 1rem; }
    .about-author .about-author-main .about-author-name {
      font-weight: 600; }
    .about-author .about-author-main .about-author-desc {
      margin-top: 1rem;
      margin-bottom: 1rem; }
    @media screen and (max-width: 380px) {
      .about-author .about-author-main .about-author-button span {
        font-size: 1.4rem; } }
    @media screen and (max-width: 340px) {
      .about-author .about-author-main .about-author-button span {
        font-size: 1.2rem; } }
    .about-author .about-author-main .about-author-button span {
      background-color: #FFCC01; }

.show-comments-button {
  margin-top: 4rem;
  margin-bottom: 8rem;
  text-align: center; }
  .show-comments-button span {
    background-color: #E0E0E0; }

.you-might-also-like .you-might-also-like-item {
  margin-top: 4rem; }
.you-might-also-like .you-might-also-like-read-button {
  position: relative;
  text-align: center;
  margin-bottom: 2rem; }
  .you-might-also-like .you-might-also-like-read-button hr {
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 50%;
    margin-top: 1px; }
  .you-might-also-like .you-might-also-like-read-button span {
    background-color: #FFCC01; }
.you-might-also-like .you-might-also-like-author {
  color: #979797;
  display: flex;
  justify-content: space-between; }
  .you-might-also-like .you-might-also-like-author svg {
    fill: #979797; }
  .you-might-also-like .you-might-also-like-author > div:nth-child(1) {
    display: flex; }
    .you-might-also-like .you-might-also-like-author > div:nth-child(1) img {
      border-radius: 500%;
      width: 4rem;
      height: 4rem;
      margin-right: 2rem; }

.comment-section-outer-container {
  background-color: #EEE; }
  .comment-section-outer-container .comment-section-main {
    padding: 5rem 0; }
    .comment-section-outer-container .comment-section-main .comments-header-container {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .comment-section-outer-container .comment-section-main .comments-header-container .comments-header-button span {
        background-color: #CCC;
        padding: 1px 10px; }
    .comment-section-outer-container .comment-section-main .single-comment {
      border-bottom: 1px solid #CCCCCC;
      padding: 3rem 0; }
      .comment-section-outer-container .comment-section-main .single-comment .single-comment-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem; }
        .comment-section-outer-container .comment-section-main .single-comment .single-comment-header svg {
          margin-right: 0.5rem; }
        .comment-section-outer-container .comment-section-main .single-comment .single-comment-header div {
          display: flex;
          align-items: center; }
      .comment-section-outer-container .comment-section-main .single-comment a {
        color: #009FFF;
        text-decoration: none; }
    .comment-section-outer-container .comment-section-main .weitere-komentare-anzeigen-button {
      margin-top: 4rem;
      margin-bottom: 4rem;
      text-align: center; }
      .comment-section-outer-container .comment-section-main .weitere-komentare-anzeigen-button span {
        background-color: #FFCC01; }

.comment-input-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4rem; }
  .comment-input-form input, .comment-input-form textarea {
    border: none;
    border-bottom: 2px solid black;
    background-repeat: no-repeat;
    background-size: 2rem 2rem;
    background-position: 1rem 1rem;
    margin-bottom: 1.4rem;
    padding: 1rem 5rem;
    width: 100%; }
  .comment-input-form .name {
    background-image: url(./images/svg/user-alt.svg); }
  .comment-input-form .email {
    background-image: url(./images/svg/at.svg); }
  .comment-input-form textarea {
    background-image: url(./images/svg/comment.svg); }
  .comment-input-form .submit-comment {
    background-color: #FFCC01;
    border: none;
    font-weight: 600; }

@media screen and (min-width: 1024px) {
  html {
    font-size: 12px; }

  .mobile-narrow {
    margin-left: 0;
    margin-right: 0; }

  .no-mobile {
    display: block; }

  span.no-mobile {
    display: inline; }

  .outer-container {
    display: flex;
    justify-content: center; }

  .inner-container {
    max-width: 1920px;
    display: flex;
    flex-wrap: wrap; }

  .aside-left, .aside-right {
    display: block;
    flex: 1; }

  main {
    flex: 10; }

  .rounded-button span {
    font-size: 1.4rem; }

  .desktop-narrow {
    width: 80%;
    margin-left: auto;
    margin-right: auto; }

  .social-media-links-container {
    padding-top: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .social-media-links-container svg {
      width: 1.7rem;
      height: 1.7rem; }
    .social-media-links-container > div {
      align-items: center;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      margin-bottom: 1rem; }
    .social-media-links-container .button {
      height: 3.5rem;
      width: 3.5rem; }
    .social-media-links-container .fb {
      background-color: #3b5998;
      fill: #fff; }
    .social-media-links-container .fb:hover {
      background-color: #718dc8 !important; }
      .social-media-links-container .fb:hover svg {
        background-color: #718dc8 !important; }
    .social-media-links-container .instagram {
      background-color: #3b5998;
      fill: #fff;
      background: #f09433;
      background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
      background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
      background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); }
    .social-media-links-container .instagram:hover {
      background: #718dc8 !important; }
      .social-media-links-container .instagram:hover svg {
        background: #718dc8 !important; }
    .social-media-links-container .youtube {
      background-color: #CE1312;
      fill: #fff; }
    .social-media-links-container .youtube:hover {
      background-color: #f05756 !important; }
      .social-media-links-container .youtube:hover svg {
        background-color: #f05756 !important; }
    .social-media-links-container .envelope {
      background-color: #52565E;
      fill: #fff; }
    .social-media-links-container .envelope:hover {
      background-color: #838893 !important; }
      .social-media-links-container .envelope:hover svg {
        background-color: #838893 !important; }
    .social-media-links-container hr {
      color: #CCC;
      margin: 3rem 0;
      width: 3.5rem; }
    .social-media-links-container .printer {
      background-color: #FFCC01;
      fill: #000; }
    .social-media-links-container .printer:hover {
      background-color: #ffe067 !important; }
      .social-media-links-container .printer:hover svg {
        background-color: #ffe067 !important; }

  .header-container {
    margin-left: 6rem; }
    .header-container .article-top-info {
      justify-content: flex-start; }
      .header-container .article-top-info img {
        width: 2rem;
        height: 2rem; }
      .header-container .article-top-info img, .header-container .article-top-info svg {
        margin: 0;
        margin-right: 0.5rem; }
      .header-container .article-top-info span {
        margin: 0;
        margin-right: 1.5rem; }
      .header-container .article-top-info > div:nth-child(1) > div {
        flex-direction: row;
        align-items: center; }
      .header-container .article-top-info > div:nth-child(2) {
        flex-direction: row; }
        .header-container .article-top-info > div:nth-child(2) > div {
          flex-direction: row; }
          .header-container .article-top-info > div:nth-child(2) > div span {
            order: 2; }
          .header-container .article-top-info > div:nth-child(2) > div svg {
            order: 1; }

  .main-content-container {
    display: flex; }

  .main-content {
    max-width: 1240px;
    flex: 8; }

  .vertical-line {
    display: block;
    margin: 0 50px;
    border-left: 2px solid #979797; }

  .aside {
    text-align: center;
    flex: 3; }

  .main-article div div {
    font-size: 10rem; }
  .main-article div span {
    margin-left: 4rem;
    margin-right: 4rem; }

  .about-author .about-author-tags {
    border-radius: 4px 4px 0 0; }
  .about-author .about-author-main img {
    width: 15rem;
    height: 15rem;
    margin-right: 5rem; }
  .about-author .about-author-main .about-author-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; }

  .you-might-also-like-items {
    display: flex;
    justify-content: space-between; }
    .you-might-also-like-items .you-might-also-like-item {
      width: 49%;
      position: relative;
      padding-bottom: 9rem; }
      .you-might-also-like-items .you-might-also-like-item .you-might-also-like-bottom {
        position: absolute;
        bottom: 0;
        width: 100%; }

  .aside .spannende-news-aus-u {
    margin: 5rem 0; }
  .aside .alle-kategorien-button {
    border-bottom: 1px solid #979797;
    padding-bottom: 2rem; }
    .aside .alle-kategorien-button span {
      background-color: #FFCC01; }
  .aside .aside-button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem; }
    .aside .aside-button-group div {
      padding: 0.5rem 0.5rem; }
    .aside .aside-button-group span {
      background-color: #FFCC01; }
  .aside .aside-second-header {
    margin: 5rem 0; }
  .aside .die-beliebtesten-artikel-container {
    text-align: left; }
    .aside .die-beliebtesten-artikel-container .die-beliebtesten-artikel-item {
      border-bottom: 1px solid #979797;
      display: flex;
      padding: 2rem 0; }
      .aside .die-beliebtesten-artikel-container .die-beliebtesten-artikel-item .die-beliebtesten-artikel-img-container {
        margin-right: 2rem;
        flex: 1; }
        .aside .die-beliebtesten-artikel-container .die-beliebtesten-artikel-item .die-beliebtesten-artikel-img-container img {
          border-radius: 4px; }
      .aside .die-beliebtesten-artikel-container .die-beliebtesten-artikel-item .die-beliebtesten-artikel-desc {
        flex: 3;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-around; }
        .aside .die-beliebtesten-artikel-container .die-beliebtesten-artikel-item .die-beliebtesten-artikel-desc .die-beliebtesten-artikel-text {
          font-size: 1.8rem; }
        .aside .die-beliebtesten-artikel-container .die-beliebtesten-artikel-item .die-beliebtesten-artikel-desc .die-beliebtesten-artikel-read-more span {
          background-color: #FFCC01; }
  .aside .osterreichs-nr-1 {
    margin: 5rem 0; }
    .aside .osterreichs-nr-1 .osterreichs-nr-1-header {
      align-items: center;
      background-color: #292929;
      border-radius: 4px 4px 0 0;
      color: #EEE;
      display: flex;
      justify-content: center; }
      .aside .osterreichs-nr-1 .osterreichs-nr-1-header .osterreichs-nr-1-header-top {
        font-size: 3rem;
        line-height: 4rem; }
      .aside .osterreichs-nr-1 .osterreichs-nr-1-header .osterreichs-nr-1-header-bottom {
        font-size: 2.5rem;
        line-height: 3rem; }
      .aside .osterreichs-nr-1 .osterreichs-nr-1-header .osterreichs-nr-1-header-number-one {
        font-size: 8rem;
        font-weight: bold;
        line-height: 9.5rem; }
    .aside .osterreichs-nr-1 .osterreichs-nr-1-icons-container {
      background-color: #EEE;
      padding: 2rem 0; }
      .aside .osterreichs-nr-1 .osterreichs-nr-1-icons-container .osterreichs-nr-1-icon-item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem; }
        .aside .osterreichs-nr-1 .osterreichs-nr-1-icons-container .osterreichs-nr-1-icon-item svg {
          width: 2.8rem;
          height: 2.8rem;
          margin-right: 1rem; }
    .aside .osterreichs-nr-1 .osterreich-nr-1-mehr-erfahren {
      background-color: #FFCC01;
      font-weight: 600;
      padding: 1rem 0;
      width: 100%; }
  .aside .aside-social-links-header {
    margin-bottom: 2rem; }
  .aside .aside-social-links-container {
    background-color: #EEE;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0; }
    .aside .aside-social-links-container > div {
      margin: 0 0.4rem; }
    .aside .aside-social-links-container img {
      border-radius: 50%;
      max-width: 80px;
      max-height: 80px; }
  .aside .unsere-kunden .unsere-kunden-header {
    margin: 3rem 0; }
  .aside .unsere-kunden .unsere-kunden-images > div {
    display: flex; }
    .aside .unsere-kunden .unsere-kunden-images > div > div {
      margin: 4px 2px 0 2px; }
      .aside .unsere-kunden .unsere-kunden-images > div > div img {
        height: 100%; }
  .aside .kunde-detail {
    background-color: #EEE;
    margin-top: 0.2rem;
    text-align: left;
    width: calc(100% - 4px);
    margin-left: auto;
    margin-right: auto; }
    .aside .kunde-detail .kunde-detail-desc {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      font-size: 1.4rem;
      line-height: 1.6rem; }
      .aside .kunde-detail .kunde-detail-desc img {
        border-radius: 50%;
        margin-right: 2rem;
        width: 5rem;
        height: 5rem; }
      .aside .kunde-detail .kunde-detail-desc .kunde-detail {
        text-align: left; }
        .aside .kunde-detail .kunde-detail-desc .kunde-detail kunde-detail-text-function {
          font-size: 1.3rem; }
    .aside .kunde-detail hr {
      color: #E0E0E0;
      margin: 0 auto;
      width: 80%; }
    .aside .kunde-detail .kunde-detail-quote {
      align-items: center;
      display: flex;
      font-weight: 300;
      margin: 2rem 0;
      text-align: center; }
      .aside .kunde-detail .kunde-detail-quote .kunde-detail-quote-marks {
        color: #FFCC01;
        font-size: 5rem;
        font-weight: bold; }
      .aside .kunde-detail .kunde-detail-quote span {
        margin: 0 2rem; }
    .aside .kunde-detail .kunde-detail-mehr-erfahren {
      background-color: #FFCC01;
      font-weight: 600;
      padding: 1rem 0;
      text-align: center; }
  .aside .aside-instagram .aside-instagram-header {
    margin: 4rem 0 2.5rem 0; }
  .aside .aside-instagram .aside-instagram-images > div {
    display: flex; }
    .aside .aside-instagram .aside-instagram-images > div > div {
      margin: 4px 2px 0 2px; }
      .aside .aside-instagram .aside-instagram-images > div > div img {
        height: 100%;
        flex: auto; }
  .aside .aside-instagram .aside-instagram-folge-uns {
    background-color: #FFCC01;
    font-weight: 600;
    padding: 1rem 0;
    text-align: center;
    width: calc(100% - 4px);
    margin-left: auto;
    margin-right: auto; }

  .comment-section-outer-container {
    margin-top: 100px;
    display: flex; }
    .comment-section-outer-container .comment-section-main {
      width: 45%;
      margin-left: 12%;
      padding: 5rem 0; }
    .comment-section-outer-container .comment-input-form .name, .comment-section-outer-container .comment-input-form .email {
      width: 49%; } }
@media only screen and (max-width: 1650px) {
  .aside-right {
    flex: 0 0 2rem; } }
@media only screen and (min-width: 1241px) and (max-width: 1650px) {
  .comment-section-main {
    margin-left: 5rem;
    width: 60%; } }
@media only screen and (min-width: 1025px) and (max-width: 1240px) {
  html {
    font-size: 10px; }

  .social-media-links-container {
    display: none; }

  .aside-left {
    flex: unset;
    width: 5rem; }

  .comment-section-main {
    margin-left: 5rem;
    width: 80%; } }
@media only screen and (min-width: 1025px) and (max-width: 1650px) {
  .die-beliebtesten-artikel-text {
    font-size: 1.5rem;
    line-height: 1.8rem; } }
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  /* IE10+ specific styles go here */
  .no-ie11 {
    display: none !important; } }

/*# sourceMappingURL=style.css.map */
